:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* این خط برای ایجاد ارتفاع برابر با ارتفاع صفحه مرورگر استفاده شده است */
    background-color: #f0f0f0; /* رنگ زمینه صفحه */
  }